* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.background {
    background: url("./images/brick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    height: 75%;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #c4c4c4;
    padding: 1rem;
}

.logo {
    background: url("./images/Hacklogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 25%;
    width: 100%;
}

.about {
    height: 35%;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    height: 30%;
    width: 100%;
}

.copyright {
    font-size: 10px;
    height: 10%;
    width: 100%;
}


/* Responsiveness */

@media (max-width: 600px) {
    .contact a img {
        width: 25%;
    }
    .card {
        height: 100vh;
        width: 100%;
    }
}

@media (max-height: 600px) {
    .contact a img {
        width: 13%;
    }
    .card {
        height: 90vh;
        width: 90%
    }
}

/* hard time making responsive for galaxy fold, surface duo, ipad pro, ipad, iphone 5/SE,  */
/* @media (max-width: px) {
    .contact a img {
        width: 10%;
    }
    .card {
        height: 100%;
        width: 100%;
    }
} */

