* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
};

body {
    background-color: black;
}

.background {
    background: url(./images/brick.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    height: 34rem;
    width: 40rem;
    text-align: center;
    background-color: #c4c4c4;
}

.about {
    height: 40%;
    width: 80%;
    margin-left: 10%;
    padding: 2rem;
}

.copyright {
    font-size: 10px;
    width: 30rem;
    margin-left: 5rem;
};

/* Responsiveness */

@media only screen and (max-width: 650px) {
    body {
        background-color: lightblue;
    }
}