* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
};

.background {
    height: 100%;
    width: 100%;
    display: flex;
}

.card {
    height: 20rem;
    width: 30rem;
    text-align: center;
    margin-left: 30%;
}

.about {
    height: 80%;
    width: 80%;
    margin-left: 10%;
}

.trademark {
    font-size: 10px;
}