<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- https://catswhocode.com/how-to-make-a-responsive-website/ -->
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="HandheldFriendly" content="true" />
        <!--  -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HACK Augusta</title>
        <link rel="stylesheet" href="/public/css/home.css" />
    </head>
    <body>
        <!-- Background Image -->
        <div class="background">
            <div class="card">
                <div class="logo"></div>
                <div class="about">
                    <p>
                        We believe the world is a better place when every
                        community supports its creative class of hackers,
                        artists, makers, and entrepreneurs. We are the creative
                        class that make cities worth living in. Join us in
                        HACKING the community that we want and deserve, join
                        <a href="https://www.theclubhou.se/" target="_blank"
                            >theClubhou.se</a
                        >
                        or make a
                        <a
                            href="https://www.theclubhou.se/about-us"
                            target="_blank"
                            >donation</a
                        >
                    </p>
                </div>
                <!-- Contact Links -->
                <div class="contact">
                    <h4>Be a part of our online community:</h4>
                    <a
                        href="https://www.facebook.com/theClubhouseAugusta"
                        target="_blank"
                    >
                        <img src="/public/img/FB.png" alt="" srcset=""
                    /></a>
                    <a href="https://twitter.com/hackaugusta" target="_blank">
                        <img src="/public/img/twit.png" alt=""
                    /></a>
                    <a
                        href="https://www.meetup.com/HackAugusta/"
                        target="_blank"
                    >
                        <img src="/public/img/meetup.png" alt=""
                    /></a>
                    <a href="https://www.theclubhou.se/" target="_blank">
                        <img src="/public/img/clubhouse.png" alt=""
                    /></a>
                    <a
                        href="https://www.theclubhou.se/contact-us"
                        target="_blank"
                    >
                        <img src="/public/img/quest.png" alt=""
                    /></a>
                    <a href="mailto:heythere@theclubhou.se">
                        <img src="/public/img/email.png" alt=""
                    /></a>
                </div>
                <div class="copyright">
                    <p>
                        HACK Augusta, inc is a registered non-profit innovation
                        development company 501 (c) 3. We operate theClubhou.se
                        Augusta Code School, and make Startups out of
                        theClubhou.se @ Georgia Cyber Center located at 100
                        Grace Hopper Ln, suite 3700, Augusta, Ga 30901
                    </p>
                </div>
                <button class="submitBtn hidden">Submit Drawing</button>
            </div>
        </div>
        <canvas></canvas>
        <script src="/public/js/home.js"></script>
        <script src="/public/js/sketch.js"></script>
    </body>
</html>
